<header class="site-header">
  <div class="container">
    <a href="{{ '/' | relative_url }}" class="site-title site-title-link" aria-label="Home">Nihad Alakbarli</a>
    <nav id="site-nav" class="site-nav">
      <a href="{{ '/about' | relative_url }}">About</a>
      <a href="{{ '/projects' | relative_url }}">Projects</a>
      <a href="{{ '/gallery' | relative_url }}">Gallery</a>
      <div class="toggle-switch" id="theme-toggle">
        <input class="checkbox" id="theme-switch" type="checkbox" />
        <label class="switch-label" for="theme-switch"></label>
        <span class="slider"></span>
      </div>
    </nav>
    <div class="mobile-dropdown" id="mobile-dropdown">
      <button class="mobile-dropdown-btn" aria-label="Open menu">☰</button>
      <div class="mobile-dropdown-content">
        <a href="{{ '/about' | relative_url }}">About</a>
        <a href="{{ '/projects' | relative_url }}">Projects</a>
        <a href="{{ '/gallery' | relative_url }}">Gallery</a>
        <div class="toggle-switch" id="mobile-theme-toggle">
          <input class="checkbox" id="mobile-theme-switch" type="checkbox" />
          <label class="switch-label" for="mobile-theme-switch"></label>
          <span class="slider"></span>
        </div>
      </div>
    </div>
  </div>
</header>